.signup-card, .hint-card{

	padding :40px;

	width: 40vw;

	margin:auto;

	top:50px;



}

.hint-card p{
		color: #ff3232;
}

.signup-card button{

	background-color:#ff3232!important;

}



.signup-card h5{

	color: #ff3232;

}

@media all and (max-width:1000px){
	.signup-card, .hint-card{
	width:60vw;
	}
}
@media all and (max-width:800px){
	.signup-card, .hint-card{
	width:70vw;
	}
}