.navbar-div{
	height:100px !important;
	display:flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: #184f68 !important;
	.logo-img{
	margin-right:20px;
	

   }
   button{
	margin-left: 20px; 

  }

}


@media all and (max-width:1000px){
	.navbar-div {
		.logo-img{
		
		margin-left:20px;

	    }
       button{
    	margin-right: 20px; 

        }
    .app-title{
	font-size: 25px;
    }

}
}
