.register-card,.hint-card{

	padding :40px;

	width: 40vw;

	margin:auto;

	top:50px;



}



.register-card button{

	background-color: #ff3232!important;

}



.register-card h5{

	color: #ff3232;

}

@media all and (max-width:1000px){
	.register-card, .hint-card{
	width:60vw;
	}
}
@media all and (max-width:800px){
	.register-card, .hint-card{
	width:70vw;
	}
}